@page
@model TwoFA.Views.Home.TwoFactorPageModel
@{
    ViewData["Title"] = "Two Factor Protected Page";
}

<h1>Two Factor Protected Page</h1>
<p>Ta strona jest dostępna tylko po zalogowaniu z 2FA lub za pomocą Google.</p>

<a asp-page="/Index">Wróć do strony głównej</a>